<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Churn Prediction App</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="container">
        <h1>Churn Prediction Application</h1>
        <div class="options">
            <a href="{{ url_for('predict_form') }}" class="btn">Make a Prediction</a>
            <a href="{{ url_for('retrain_form') }}" class="btn">Retrain Model</a>
        </div>
    </div>
</body>
</html>
